:root {
  --fn-height: 9vh;
  --fn-width: 14vh;
  --key-size: 17.5vh;
  --key-spacing: 0.3vh;
  --key-outline: 0.1vh;
  --narrow-key: 15vh;
  --keyboard-width: calc(((var(--fn-width) * 18) + (var(--key-spacing) * 17)));
}

@media (max-aspect-ratio: 748/287) {
  :root {
    --fn-height: 3.5vw;
    --fn-width: 5.3vw;
    --key-size: 6.6vw;
    --key-spacing: 0.2666vw;
    --key-outline: 0.02666vw;
    --narrow-key: 6vw;
    --keyboard-width: 100vw;
  }
  body {
    /* background-color: #003; */
  }
}

body {
  margin: 0;
}

section {
  display: none;
}

section.active {
  display: block;
}

.grid {
  display:grid;
  width: var(--keyboard-width);
  grid-template-rows: var(--fn-height) repeat(5, var(--key-size));
  grid-row-gap: var(--key-spacing);
}

.grid div {
  border-radius: calc(var(--key-size) / 10);
  box-sizing: content-box;
  border: var(--key-outline) #888 solid;
}

div.row, div#arrow-keys {
  border: none;
}

.row {
  display: grid;
  grid-column-gap: var(--key-spacing);
}

#function-keys {
  grid-template-columns: 1fr repeat(15, var(--fn-width))1fr;
}

#number-keys {
  grid-template-columns: repeat(13, var(--key-size)) 1fr;
}

#upper-row {
  grid-template-columns: 1fr repeat(12, var(--key-size)) 1fr;
}

#home-row {
  grid-template-columns: 1fr repeat(13, var(--key-size));
}

#lower-row {
  grid-template-columns: repeat(12, var(--key-size)) 1fr;
}

#space-row {
  grid-template-columns: repeat(4, var(--key-size)) calc(
    (
      var(--key-size) * 5
    ) + (
      var(--key-spacing) * 4
    )
  ) repeat(3, var(--narrow-key)) 1fr;
}

#arrow-keys {
  display: grid;
  grid-row-gap: var(--key-spacing);
  grid-column-gap: var(--key-spacing);
  grid-template-columns: repeat(3, 1fr);
}

#up-arrow {
  grid-column: 2 / 3;
}

#left-arrow {
  grid-column: 1 / 2;
  grid-row: 2;
}

#down-arrow {
  grid-column: 2 / 3;
  grid-row: 2;
}

#right-arrow {
  grid-column: 3;
  grid-row: 2;
}

.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.red {
  background-color: red;
}
