:root {
  --fn-height: 9vh;
  --fn-width: 15vh;
  --key-size: 17vh;
  --key-spacing: 1.2vh;
  --key-outline: 0.1vh;
  --keyboard-width: calc(((var(--fn-width) * 16) + (var(--key-spacing) * 15)));
}

@media (max-aspect-ratio: 1000/400) {
  :root {
    --fn-height: 3.5vw;
    --fn-width: 6vw;
    --key-size: 6.666vw;
    --key-spacing: 0.2666vw;
    --key-outline: 0.02666vw;
    --keyboard-width: 100vw;
    --font-size: 1.8vw;
    --padding: 0.4vw;
  }

  body {
    background-color: #eef;
  }
}

#function-keys {
  grid-template-columns: repeat(16, var(--fn-width));
}

#number-keys {
  grid-template-columns: repeat(13, var(--key-size)) 1fr;
}

#top-row {
  grid-template-columns: 1fr repeat(13, var(--key-size));
}

#home-row {
  grid-template-columns: 1fr repeat(11, var(--key-size)) 1fr;
}

#bottom-row {
  grid-template-columns: 1fr repeat(10, var(--key-size)) 1fr;
}

#space-row {
  grid-template-columns: repeat(4, var(--key-size)) 5fr 1fr 1fr 3fr;
}

#arrow-keys {
  display: grid;
  grid-row-gap: var(--key-spacing);
  grid-column-gap: var(--key-spacing);
  grid-template-columns: repeat(3, 1fr);
}

.up-arrow {
  grid-column: 2 / 3;
}

.left-arrow {
  grid-column: 1 / 2;
  grid-row: 2;
}

.down-arrow {
  grid-column: 2 / 3;
  grid-row: 2;
}

.right-arrow {
  grid-column: 3;
  grid-row: 2;
}
